.header-area .header-top-bar {
  background-color: #fab702;
  color: white;
  max-height: 3.49rem;
}

.header-area .header-top-bar ul {
  padding: 0.5rem 0;
}

.header-area .header-top-bar ul li {
  display: inline-block;
}

.header-area .header-top-bar ul li:hover {
  opacity: 0.9;
}

.header-area .header-top-bar ul li a {
  color: white;
}

.header-area .header-top-bar .list-unstyled li a i {
  padding: 0 0.30rem;
}

.header-area nav.navbar {
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  background-color: #fff;
  padding: 1.5rem 2rem;
}

.header-area nav.navbar ul li a {
  padding: 0.6rem 1rem !important;
  font-size: 1rem;
}

.header-area nav.navbar ul li a:hover {
  color: #fab702 !important;
}

.header-area nav.navbar ul .nav-item.active > .nav-link {
  color: #fab702 !important;
}

.header-area nav.navbar .navbar-toggler {
  background-color: #fff0;
  color: #ffffff;
  font-size: 22px;
  -webkit-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}

.header-area nav.navbar .navbar-toggler .navbar-toggler-icon {
  background-image: url(../img/menu.png);
}

.header-area nav.navbar .navbar-nav button {
  border-color: transparent;
  background-color: #fab702;
  padding: 0.5rem 1.5rem;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.header-area nav.navbar .navbar-nav button:hover {
  background-color: #286090;
}

.header-area .sticky-wrapper.is-sticky > .nav.navbar {
  z-index: 9999999 !important;
}

@media (max-width: 1199.98px) {
  .navbar-nav button {
    padding: 0.5rem 0.5rem !important;
  }
}

@media (max-width: 991.98px) {
  .header-top-bar {
    max-height: unset !important;
  }
  .navbar-nav button {
    display: none;
  }
}

@media (max-width: 767.98px) {
  .header-top-bar ul {
    padding: 0;
  }
}

.top-banner-area {
  background-image: url(../img/construction.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 32rem;
}

.top-banner-area .our-mono {
  padding-top: 10rem;
}

.top-banner-area .our-mono h2 {
  color: #fff;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.2;
  text-transform: uppercase;
  text-shadow: 0 1px 2px #333;
}

.top-banner-area .our-mono p {
  color: #fff;
  text-shadow: 0 1px 1px #333;
  font-weight: 300;
  font-size: 1.2rem;
}

.top-banner-area .our-mono button {
  padding: .5rem 1.9rem;
  margin-top: 1rem;
}

.top-banner-area .our-mono button.only-line {
  color: #fff;
  border-color: #fff;
}

.top-banner-area .pops-features {
  color: #fff;
  opacity: 0.8;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 150px;
  background-color: #fab702;
}

.top-banner-area .pops-features .pops-features-items {
  display: inline-block;
  position: relative;
  padding: 0 3rem;
  border-right: 1px solid #fff;
  margin-left: 2rem;
  font-size: 1rem;
}

.top-banner-area .pops-features .pops-features-items:nth-child(4) {
  border-right: 1px solid rgba(255, 255, 255, 0) !important;
}

.top-banner-area .pops-features i {
  display: table-row;
  position: absolute;
  left: 0;
  top: 20%;
  font-size: 1.6rem;
}

.about-us {
  padding: 3rem 0;
}

.about-us h2 {
  color: #3a3a3a;
  padding-bottom: 2rem;
}

.about-us h3 {
  margin-left: 6rem;
  color: #3a3a3a;
  font-weight: 600;
}

.about-us p {
  margin-left: 6rem;
}

.about-us .about-icons {
  float: left;
  margin-top: 1rem;
}

.about-us .about-icons i {
  float: left;
  width: 80px;
  height: 80px;
  border: 1px solid #fab702;
  color: #fab702;
  text-align: center;
  line-height: 80px;
  font-size: 28px;
}

.makes-your {
  min-height: 15rem;
  background-image: url(../img/light-house.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.makes-your h2 {
  color: #fff;
  font-weight: 600;
  margin-bottom: 1.25rem;
}

.our-service {
  padding: 3rem 0;
}

.our-service h2 {
  color: #3a3a3a;
  margin-bottom: 2rem;
  font-weight: 600;
}

.our-service .single-service {
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.our-service .single-service h3 {
  color: #3a3a3a;
  font-size: 1.2rem;
  font-weight: 600;
}

.our-service .single-service .side-icons {
  float: right;
  color: #fab702;
  margin-right: 0;
  margin-left: 1.9rem;
  font-size: 30px;
  width: 62px;
  display: table-cell;
  margin-bottom: 20px;
  background-color: #f7f7f7;
  height: 62px;
  padding: 16px 0;
  text-align: center;
  margin-top: 1.9rem;
  border-radius: 100%;
  -webkit-transition: background 0.2s ease-in-out 0s;
  transition: background 0.2s ease-in-out 0s;
}

.our-service .side-icons.rgt {
  float: left;
  margin-left: 0 !important;
  margin-right: 1.9rem;
}

.team-members {
  background-color: #f9f9f9;
  padding: 3rem 0;
}

.team-members .team-area-heading {
  margin-bottom: 4rem;
}

.team-members .team-area-heading h2 {
  font-weight: 600;
  color: #3a3a3a;
}

.team-members .team-mems .mems-card-img {
  overflow: hidden;
}

.team-members .team-mems img {
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  width: 100%;
}

.team-members .team-mems:hover img {
  -webkit-transform: scale(1.28);
          transform: scale(1.28);
}

.team-members .mems-ditails {
  z-index: 22;
  padding: 1rem;
  text-align-last: left;
  background-color: #fff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.team-members .mems-ditails h5 {
  font-weight: 600;
  color: #3a3a3a;
  margin: 0;
}

.team-members .mems-ditails p {
  margin: 0;
  text-transform: uppercase;
}

.contact-area {
  padding: 3rem 0;
}

.contact-area h2 {
  font-weight: 700;
  color: #3a3a3a;
  margin-bottom: 3rem;
}

.contact-area .card {
  margin-bottom: 2rem;
}

.contact-area p {
  font-weight: 600;
  color: #3a3a3a;
}

.contact-area form textarea {
  resize: none;
}

.contact-area form button {
  border-color: transparent;
  background-color: #fab702;
  padding: 0.5rem 3rem;
  border-radius: 0;
  color: #fff;
  font-weight: 400;
}

.contact-area form button:hover {
  background-color: #204d74;
  border-color: transparent;
}

footer {
  background-color: #131313;
  padding: 2rem 0;
  color: #fff;
}

footer p {
  margin: 0;
}

footer p a {
  color: #aaa;
}

footer p a:hover {
  text-decoration: none;
  color: #fab702;
}

footer ul {
  margin: 0;
}

footer ul li {
  display: inline-block;
  margin-right: 1rem;
}

footer ul li a {
  color: #fff;
}

footer ul li a:hover {
  text-decoration: none;
  color: #fab702;
}

* {
  margin: 0;
  padding: 0;
}

.btn.focus, .btn:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #666;
  line-height: 24px;
}
/*# sourceMappingURL=main.css.map */